body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
  background: url(background.jpg);
  background-size: cover;
}
.calander_container {
  width: 300px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  overflow: hidden;
}
.month-name {
  margin: 0;
  background-color: rgb(95, 25, 122);
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
}
.day-name {
  font-size: 20px;
  font-weight: 600;
}
.date {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}
.year {
  margin: 20px 0;
  font-size: 20;
  font-weight: 800;
}
